#content{
    padding: 5% 3% 3% 3%;

    width: 100%;

    background: #00263b;
}
#images {
    margin-left: 0;
    margin-top: 0;

    height: 100%;
}
#map_page {
    margin-left: 0;
    margin-top: 0;

    width: 100%;
    height: 100%;
}
div.maps{
    float: left;

    margin: 4%;
    border-radius: 8px;
    padding-top: 30%;

    /*The width 40% ang padding-top 30% results in rate 4:3 of map*/

    width: 40%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#buttons {
    /*background: #327c6f;*/
    /*width: 60rem;*/
    margin-left: 4%;
}
button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
button {
    border: none;
}
button.action_button:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-property: opacity;

    border: 2px solid #ff5200;

    opacity: 0.8;
}
button.action_button {
    position: relative;
    float: left;

    /*width: 10rem;*/

    margin: 4px 4px;
    border: 2px solid black;
    border-radius: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: #6f0000;

    color: white;
    text-align: center;
    text-decoration: none;

    font-size: 1.3rem;

    opacity: 1;

    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: opacity;
}
#photo_div {
    margin: 4%;
}
#photo_image {
    float: left;

    border-radius: 8px;

    max-width: 640px;
    max-height: 480px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#editor_action_div {
    float:left;

    margin-left: 4%;
    border-radius: 8px;

    width: 20%;
    background: #00a1ab;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#editor {
    width: 100%;
    display: grid;
}
#LUTs {
    float: left;
}
button.LUT_button {
    width: 150px;
    height: 150px;

    margin: 20px;
    padding: 0;

    background: #327c6f;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button.LUT_button:hover div.LUT_title{
    opacity: 0.7;
}
div.LUT_title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;

    transition: .5s ease;
    opacity: 0;

    background-color: black;
    color: white;

    text-align: center;
}
