html, body {
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;

    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-size: 1.5em;
    font-family: 'Baloo Da 2', cursive;
}
h2 {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}
p {
    font-size: 0.8em;
    font-family: 'Baloo Da 2', cursive;
}



