<style>
  #footer {
    background: #ff5200;

    padding: 0.1em 0.1em 0.1em 0.1em;
  }
  #description {
    color: white;
    padding-left: 30%;
  }
</style>
<body>
  <div id="footer">
    <div id="description">
      <p style="font-size: 1.5em">
        <span style="color: #00263b">
          Created by Ivan Kudryavtsev
        </span>
      </p>
      <p>
        Not for commercial use
      </p>

      <p>
        Icon made by
        <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </p>


    </div>
  </div>
</body>
